.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .home {
    padding: 120px 36%;
  }
}
