.header {
  padding: 12px 12px;
  border-bottom: 2px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 120px;

    & a {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      color: black;
    }

    & img {
      height: inherit;
      width: inherit;
    }

    & a:hover {
      color: black;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    & a {
      font-size: 16px;
      color: black;
    }

    & a:last-of-type {
      margin-left: 24px;
      color: black;
    }
  }

  &__title {
    font-size: 18px;
    padding-left: 12px;
    font-weight: 500;
    // font-style: italic;
  }

  &__profile {
    cursor: pointer;

    & svg {
      height: 20px;
      width: 20px;
    }
  }

  &__logout {
    margin-left: 24px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 20%;
    padding-right: 20%;
  }
}
